<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PHD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Accueil.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerMDP</display-name>
    <servlet-name>ChangerMDP</servlet-name>
    <servlet-class>servlets.ChangerMDP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerMDP</servlet-name>
    <url-pattern>/changerMDP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerMail</display-name>
    <servlet-name>ChangerMail</servlet-name>
    <servlet-class>servlets.ChangerMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerMail</servlet-name>
    <url-pattern>/changerMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recherche</display-name>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>servlets.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/recherche.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Creation</display-name>
    <servlet-name>Creation</servlet-name>
    <servlet-class>servlets.Creation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creation</servlet-name>
    <url-pattern>/creation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReponseQuizz</display-name>
    <servlet-name>ReponseQuizz</servlet-name>
    <servlet-class>servlets.ReponseQuizz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReponseQuizz</servlet-name>
    <url-pattern>/reponse.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resultat</display-name>
    <servlet-name>Resultat</servlet-name>
    <servlet-class>servlets.Resultat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resultat</servlet-name>
    <url-pattern>/resultat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceMembre</display-name>
    <servlet-name>EspaceMembre</servlet-name>
    <servlet-class>servlets.EspaceMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceMembre</servlet-name>
    <url-pattern>/EspaceMembre</url-pattern>
  </servlet-mapping>
</web-app>